@model proj4.Models.BorrowTransaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BorrowTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
            </div>

            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
            </div>

            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" type="date" />
            </div>

            <div class="form-group">
                <label asp-for="DaysLate" class="control-label"></label>
                <input asp-for="DaysLate" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Penalty" class="control-label"></label>
                <input asp-for="Penalty" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
        

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
